.btn.btn-wide {
  height: 60px;
  padding: 0 60px;
  line-height: 60px; }

/* ------------------------------------------------------------------
	account */
.account .account-nav {
  height: 82px;
  border: 1px solid #edd9b7; }
  .account .account-nav-list {
    float: left; }
  .account .account-nav-item {
    float: left; }
    .account .account-nav-item.active a {
      background-color: #edd9b7; }
    .account .account-nav-item a {
      display: block;
      overflow: hidden;
      height: 80px;
      padding: 0 60px;
      border-right: 1px solid #edd9b7;
      background-color: #ffffff;
      line-height: 80px;
      font-family: 'Pt Serif';
      font-size: 21px;
      color: #000000; }
      .account .account-nav-item a:hover {
        background-color: #edd9b7; }
  .account .account-nav-quit-link {
    float: right;
    line-height: 20px;
    margin-top: 32px;
    padding-right: 35px;
    color: #000000; }
    .account .account-nav-quit-link:hover {
      color: #edd9b7; }

.input-list-item {
  padding-bottom: 15px;
  max-width: 360px; }

.input-list .label-text {
  display: block;
  padding-bottom: 13px;
  font-weight: 200; }

.user-avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 30px; }

.orders-thead .order-row-inner {
  padding-top: 25px;
  padding-bottom: 25px; }

.order-row {
  display: block;
  margin: 0 15px;
  border-bottom: 1px solid #ebebeb; }
  .order-row.active {
    background-color: #ffffff; }
  .order-row-inner {
    display: table;
    width: 100%;
    padding: 40px 15px;
    background-color: #f8f8f8; }
  .order-row .toggle-button {
    top: 2px;
    display: inline-block;
    width: 120px;
    min-height: 20px;
    line-height: 20px; }
    .order-row .toggle-button span {
      left: 0; }
    .order-row .toggle-button.align-left {
      text-align: left; }
  .order-row .cc,
  .order-row .c {
    vertical-align: middle; }

.order-details {
  padding: 15px 0; }
  .order-details .order-row {
    padding: 20px 0;
    background-color: #ffffff;
    border: none; }

.iconed {
  display: inline-block;
  padding: 0 15px 10px 0; }
  .iconed-green {
    color: #5e8610; }
  .iconed-icon {
    float: left;
    margin-top: 2px;
    font-size: 16px; }
  .iconed-text {
    display: block;
    margin-left: 30px; }

/* ------------------------------------------------------------------
	comparison */
.comparison-item {
  width: 367px;
  font-size: 16px; }
  .comparison-item-header {
    padding-bottom: 65px;
    min-height: 510px; }
  .comparison-item-thumb {
    height: 320px;
    overflow: hidden; }
    .comparison-item-thumb img {
      display: block; }
  .comparison-item-title {
    display: block;
    overflow: hidden;
    margin: 3px 0 15px 0;
    white-space: nowrap;
    font-size: 20px;
    line-height: 20px;
    text-overflow: ellipsis; }
    .comparison-item-title a {
      color: #000000; }
      .comparison-item-title a:hover {
        color: #c7b799; }
  .comparison-item-specs li {
    overflow: hidden;
    height: 65px;
    padding: 0 10px;
    border-top: 1px solid #e3e3e3;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 65px;
    text-align: center;
    text-overflow: ellipsis; }
    .comparison-item-specs li:nth-child(2) {
      height: 110px; }
  .comparison-item .iconed {
    padding: 0; }
  .comparison-item .range-input input {
    width: 40px; }

.comparison-left-side {
  width: 365px; }

.comparison-right-side {
  width: -webkit-calc(100% - 366px);
  width: calc(100% - 366px);
  border-left: 1px solid #e3e3e3;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .comparison-right-side .comparison-item {
    border-right: 1px solid #e3e3e3; }
    .comparison-right-side .comparison-item-specs li:last-child {
      border-bottom: 1px solid #e3e3e3; }
    .comparison-right-side .comparison-item-specs li:nth-child(odd) {
      background-color: #f7f4f4; }

.item-collection {
  display: block;
  line-height: 20px; }

.view-type-toggler {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #edd9b7;
  border-radius: 3px; }
  .view-type-toggler li {
    display: inline-block;
    height: 40px; }
    .view-type-toggler li.active a {
      background-color: #edd9b7;
      color: #000000; }
      .view-type-toggler li.active a .iconed-text {
        color: #000000; }
  .view-type-toggler a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    background-color: #ffffff; }
  .view-type-toggler .iconed-icon {
    line-height: 40px;
    margin: 0;
    padding-right: 10px;
    color: #000000; }
  .view-type-toggler .iconed-text {
    color: #8b8b8b; }

.accordion-header {
  position: relative;
  padding: 22px 0 18px 0;
  background-color: #f7f4f4; }
  .accordion-header::before, .accordion-header::after {
    content: '';
    position: absolute;
    top: 0;
    width: 3000px;
    height: 100%;
    background-color: #f7f4f4; }
  .accordion-header::before {
    left: 100%; }
  .accordion-header::after {
    right: 100%; }

/* ------------------------------------------------------------------
	media queries */
@media (max-width: 1280px) {
  .account .account-nav-item a {
    padding: 0 30px; } }

@media (max-width: 1024px) {
  .account {
    padding-top: 65px; }
    .account .account-nav {
      position: relative; }
      .account .account-nav-list {
        float: none; }
      .account .account-nav-item {
        width: 25%;
        padding: 0;
        text-align: center; }
        .account .account-nav-item:last-child a {
          border-right: none; }
        .account .account-nav-item a {
          padding: 14px 5px 0 5px;
          line-height: normal;
          font-size: 13px; }
          .account .account-nav-item a .icon {
            padding-bottom: 8px; }
        .account .account-nav-item span:not(.none--t) {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .account .account-nav-quit-link {
        position: absolute;
        top: -40px;
        right: 0;
        margin: 0;
        padding: 0; } }

@media (max-width: 768px) {
  .input-list-item {
    max-width: none; }
  .order-row .c {
    padding-left: 0;
    padding-right: 0; }
  .order-row h3 {
    padding-right: 10px;
    font-size: 16px; }
  .order-number {
    padding: 0; } }

@media (max-width: 480px) {
  .font-16--m {
    font-size: 16px; } }
