@{ 
    var productService = DependencyResolver.Current.GetService<Nop.Services.Catalog.IProductService>();
    var pictureService = DependencyResolver.Current.GetService<Nop.Services.Media.IPictureService>();
    var products = productService.GetAllProductsDisplayedOnHomePage();
}
<!-- carousel -->
@if (products.Any())
{

    <section class="section center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <hgroup>
                        <h2 class="upper">welcome to our home</h2>
                        <h4 class="upper lined-top">prescription glasses starting at $8</h4>
                    </hgroup>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="carousel-outer">
                        <div class="carousel">

                            @foreach (var item in products)
                            {
                                var pic = pictureService.GetPictureById(item.Id);
                                var urlPic = pictureService.GetPictureUrl(pic.Id);
                                <div class="catalog-item">
                                    <figure class="image">
                                        <!-- can be vertical. Horizontal by default -->
                                        <!-- <img src="path.to" class="vertical" alt=""> -->
                                        <img src="@urlPic" alt="">
                                    </figure>
                                    <h3 class="title">
                                        <a href="#">@item.Name</a>
                                    </h3>
                                    <div class="price">@item.Price.ToString("#,##0.00")</div>
                                    <footer class="footer">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#" class="shop-link"><i class="fa fa-shopping-bag"></i>shop now</a>
                                            </div>
                                            <div class="col-md-6 right">
                                                <a href="#" class="wish-link"><i class="fa fa-heart-o"></i>wishlist</a>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="clear-list items-list spaced">
                        <li>
                            <a href="#"><img src="~/Themes/EWG/Content/ewg/img/brand-black1.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/Themes/EWG/Content/ewg/img/brand-black2.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/Themes/EWG/Content/ewg/img/brand-black3.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/Themes/EWG/Content/ewg/img/brand-black4.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/Themes/EWG/Content/ewg/img/brand-black5.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
}
<!-- / carousel -->