<!-- features -->
<div class="section grey-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 features-item">
                <div class="image">
                    <figure>
                        <img src="~/Themes/EWG/Content/ewg/img/features-frame5.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <h4 class="title">
                        <a href="#">Free prescription linses</a>
                    </h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, voluptatibus!
                    </p>
                    <a href="#" class="btn btn-link">shop now</a>
                </div>
            </div>
            <div class="col-xs-2 features-item">
                <div class="image">
                    <figure>
                        <img src="~/Themes/EWG/Content/ewg/img/features-frame1.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <h4 class="title">
                        <a href="#">Free prescription linses</a>
                    </h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, voluptatibus!
                    </p>
                    <a href="#" class="btn btn-link">shop now</a>
                </div>
            </div>
            <div class="col-xs-2 features-item">
                <div class="image">
                    <figure>
                        <img src="~/Themes/EWG/Content/ewg/img/features-frame3.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <h4 class="title">
                        <a href="#">Free prescription linses</a>
                    </h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, voluptatibus!
                    </p>
                    <a href="#" class="btn btn-link">shop now</a>
                </div>
            </div>
            <div class="col-xs-2 features-item">
                <div class="image">
                    <figure>
                        <img src="~/Themes/EWG/Content/ewg/img/features-frame2.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <h4 class="title">
                        <a href="#">Free prescription linses</a>
                    </h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, voluptatibus!
                    </p>
                    <a href="#" class="btn btn-link">shop now</a>
                </div>
            </div>
            <div class="col-xs-2 features-item">
                <div class="image">
                    <figure>
                        <img src="~/Themes/EWG/Content/ewg/img/features-frame4.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <h4 class="title">
                        <a href="#">Free prescription linses</a>
                    </h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, voluptatibus!
                    </p>
                    <a href="#" class="btn btn-link">shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / features -->