 <!-- made with -->
<div class="section grey-bg-section relative hide-overflow">
    <div class="container">
        <div class="row layer-up">
            <div class="col-sm-9 col-sm-offset-2 col-md-6 col-md-offset-4">
                <hgroup>
                    <h2 class="upper lined-bottom left">made with <div class="fa fa-heart-o"></div> in canada</h2>
                    <h4 class="secondary-title">Proudly Canadian owned and operated, Eyewear Glasses is pleased to be your destination for fashionable eyeglasses, mens and womens sunglassws and contacts online</h4>
                </hgroup>
                <p class="grey caption">
                    Our featured brands deliver hight impact eyewear made from the hight quality metals and synthetics for enduring value and a listing impression. We're pleased to offer "the same pair for half the price" on over 30 designer brands, and great prices on extraordinary sunglasses and contact lenses, every day.
                </p>
                <a href="#" class="btn btn-default btn-sm">browse brands</a>
            </div>
        </div>
        <figure>
            <img src="~/Themes/EWG/Content/ewg/temp/Image_76.png" alt="" class="content-image bottom-left">
        </figure>
    </div>
</div><!-- / made with -->
<!-- made with -->
<div class="section">
    <div class="container">
        <div class="row layer-up center">
            <div class="col-md-8 col-md-offset-2">
                <hgroup>
                    <h2 class="upper lined-bottom">there's something about you</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque</h4>
                </hgroup>
                <p class="grey caption">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptatum ducimus eaque necessitatibus, cupiditate, aliquid suscipit blanditiis velit! Assumenda facere, minus inventore magnam necessitatibus velit perferendis maxime, voluptatum officiis soluta.
                </p>
                <a href="#" class="btn btn-default btn-sm">browse brands</a>
            </div>
        </div>
    </div>
</div><!-- / made with -->