  <!-- main slider -->
<section class="main-slider">
    <div class="slider">
        <div class="item">
            <div class="content container-content d-content">
                <div class="table">
                    <div class="cell">
                        <div class="container">
                            <div class="row center">
                                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                                    <h2 class="primary-title upper d-title">BEAT THE HEAT</h2>
                                    <img src="~/Themes/EWG/Content/ewg/temp/and.fw.png" alt="" class="d-and">
                                    <h3 class="lined-title upper d-sub-title">
                                        <span>GET YOUR SPORT AND SUNGLASSES STARTING AT <b>$49.99</b></span>
                                        + 35% OFF ON SELECTED BRANDS*
                                    </h3>
                                    <ul class="clear-list items-list">
                                        <li><img src="~/Themes/EWG/Content/ewg/img/brand1.png" alt=""></li>
                                        <li><img src="~/Themes/EWG/Content/ewg/img/brand2.png" alt=""></li>
                                        <li><img src="~/Themes/EWG/Content/ewg/img/brand3.png" alt=""></li>
                                        <li><img src="~/Themes/EWG/Content/ewg/img/brand4.png" alt=""></li>
                                        <li><img src="~/Themes/EWG/Content/ewg/img/brand5.png" alt=""></li>
                                    </ul>
                                    <div>
                                        <a href="#" class="btn btn-default btn-sm btn-d">BROWSE COLLECTION</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-small-text">
                            <span>*VALID FROM APRIL 1 TO MAY 1. See Terms and Conditions</span>
                            <span>Kate Spade, Marc Jacobs, Michael Kors, Tiffany & Co. and Ray Ban</span>
                        </div>
                    </div>
                </div>
                <img src="~/Themes/EWG/Content/ewg/temp/Image_59.png" alt="" class="content-image bottom-right">
                <img src="~/Themes/EWG/Content/ewg/temp/Image_58.png" alt="" class="content-image left">
            </div>
        </div>

    </div>
</section><!-- / main slider -->