 <!-- new look -->
<section class="center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 relative pad-bot-50">
                <div class="layer-up">
                    <hgroup>
                        <h2 class="upper">looking for a new look today?</h2>
                        <h4 class="upper lined-top">sport and sunglasses starting at $49.99</h4>
                    </hgroup>
                    <p class="grey marg-bot-50">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic deserunt minus accusamus<br> culpa tempore quasi, molestias libero perferendis dolorem ex, omnis blanditiis modi <br> repellat impedit  quaerat quibusdam fuga voluptate architecto!
                    </p>
                    <a href="#" class="btn btn-sm btn-default">browse brands</a>
                </div>
                <figure>
                    <img src="~/Themes/EWG/Content/ewg/temp/Image_26.png" alt="" class="content-image bottom-left">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- / new look -->
