
 <!-- product slider -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="product-outer">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="title upper">bomb deal</h3>
                        </div>
                        <div class="col-sm-6 right powered-author">
                            <div class="inline v-top medium upper grey">powered by</div>
                            <div class="inline v-top">
                                <img src="~/Themes/EWG/Content/ewg/temp/ogi.png" alt="" class="product-author-image">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="medium upper grey bordered-bottom pad-bot-15">available only for</div>
                        </div>
                    </div>
                    <div class="row counter-block" data-to="2016.6.21">
                        <div class="col-xs-3 col-sm-1 product-col center"><span class="counter counter-days">00</span><span class="counter-caption">days</span></div>
                        <div class="col-xs-3 col-sm-1 product-col center bordered-left"><span class="counter counter-hours">00</span><span class="counter-caption">hours</span></div>
                        <div class="col-xs-3 col-sm-1 product-col center bordered-left"><span class="counter counter-minutes">00</span><span class="counter-caption">mins</span></div>
                        <div class="col-xs-3 col-sm-3 product-col bordered-left"><span class="counter counter-seconds">00</span><span class="counter-caption left">secs</span></div>
                        <div class="col-xs-10 col-sm-5 product-col bordered-left no-border-xs">
                            <h3 class="product-name upper">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, cumque natus, placeat ea mollitia eos facere, dolorum optio minima qu</a>
                            </h3>
                        </div>
                        <div class="col-xs-2 col-sm-1 product-col bordered-left no-border-xs">
                            <a href="#" class="btn btn-link btn-block btn-padless product-like-btn"><i class="fa fa-heart-o"></i></a>
                        </div>
                        <div class="col-xs-12">
                            <div class="bordered-top no-border-xs pad-top-10"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table">
                                <div class="cell">
                                    <img src="~/Themes/EWG/Content/ewg/temp/Image_65.png" alt="" class="content-image bottom-right">
                                    <img src="~/Themes/EWG/Content/ewg/temp/Image_66.png" alt="" class="content-image bottom-right">
                                </div>
                                <div class="cell">
                                    <div class="grey medium pad-left-30 pad-bot-30">
                                        Available in
                                        <ul class="clear-list items-list small-list">
                                            <li><a href="" class="color" style="background: #900;" title="#900"></a></li>
                                            <li><a href="" class="color" style="background: #090;" title="#090"></a></li>
                                            <li><a href="" class="color" style="background: #009;" title="#009"></a></li>
                                            <li><a href="" class="color" style="background: #990;" title="#990"></a></li>
                                            <li><a href="" class="color" style="background: #909;" title="#909"></a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <span class="upper inline v-bottom font-28">$99.99</span>
                                        <span class="upper inline v-top strike grey font-16 pad-top-5 pad-left-10">$999</span>
                                    </div>
                                    <p class="grey">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quis, ipsa. Dolorem ducimus facilis consequatur, laudantium libero voluptates cupiditate voluptatum repellat vitae pariatur nulla, eius, asperiores iure. Beatae, nobis facilis.
                                    </p>
                                    <div class="marg-top-30">
                                        <a href="#" class="btn btn-sm btn-default"><i class="fa fa-shopping-bag"></i>shop now</a>
                                        <a href="#" class="btn btn-sm btn-link"><i class="fa fa-heart-o"></i>wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product slider -->