 <!-- sign up -->
<section class="section grey-bg-section bordered-bottom relative">
    <div class="container">
        <div class="row layer-up center">
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <h3 class="upper regular">sign up for a special discount*</h3>
                <div class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <form action="#" class="sign-form">
                    <div class="row">
                        <div class="col-sm-7 col-lg-8">
                            <input type="text" class="form-control control-lg" placeholder="Email adress">
                        </div>
                        <div class="col-sm-5 col-lg-4">
                            <button type="submit" class="btn btn-block btn-default">subscribe</button>
                        </div>
                    </div>
                </form>
                <small class="grey">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ut, sequi eos!
                </small>
            </div>
        </div>
    </div>
    <figure>
        <img src="~/Themes/EWG/Content/ewg/temp/Image_84.png" alt="" class="content-image bottom-right">
    </figure>
</section><!-- / sign up -->